*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}






.card-footer{
width: 100%;
position: absolute;
display: flex;
flex-direction: row;
justify-content: space-around;
bottom: 0px;
left: 0px;
border-radius: 0px 0px 19px 19px;
background-color: black;
z-index: 100000;
}
#btn-rotate{
border-radius: 0px 0px 19px 0px;
}
button {
  border: 0px none transparent;
  font-size: large;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}